.mobile-menu-container {
	background: #f1ba6a;
	-webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.16);
	-moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.16);
	box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.16);
	margin-bottom: 30px;
}

.mobile-logo {
	width: 50px !important;
	height: 50px !important;
	margin: 8px 0 0 5px;
}

.mobile-title {
	color: white;
	margin-top: 18px;
	font-size: 1.5em;
	margin-left: -5px;
	font-weight: 400;
}

.mobile-menu-row {
	width: 100%;
	display: block;
}

.mobile-nav-row {
	margin-bottom: -5px;
}

.mobile-nav {
	width: 100%;
}

.mobile-nav > li {
	display: inline-block !important;
	width: 20%;
	text-align: center;
	margin-bottom: -5px;
}

.mobile-nav > li > a {
	color: #555;
	font-size: 1.5em;
	text-align: center;
}

.mobile-nav > li > a.active {
	color: white;
	border-bottom: 2px solid white;
}

.mobile-nav > li:hover,
.mobile-nav > li:focus,
.mobile-nav > li:active,
.mobile-nav > li > a:hover,
.mobile-nav > li > a:focus,
.mobile-nav > li > a:active {
	background-color: transparent !important;
}
