<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta name="description" content="">
	<meta name="keywords" content="" />
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
	<div class="container" id="app">{{ html|safe }}</div>
	<script src="/js/vendor.js"></script>
	<script src="/js/vendor.bundle.js"></script>
	<script src="/js/bundle.js"></script>
</body>
</html>
