<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta name="description" content="{{ head.description }}">
	<meta name="keywords" content="sailing,channels,youtube,sailboat,liveaboard,sail" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="apple-touch-icon" href="{{staticPath}}/img/apple-touch-icon-60x60.png">
	<link rel="icon" type="image/png" href="{{staticPath}}/img/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="{{staticPath}}/img/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="{{staticPath}}/img/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="{{staticPath}}/img/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="{{staticPath}}/img/manifest.json">
	<link rel="mask-icon" href="{{staticPath}}/img/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="{{staticPath}}/img/favicon.ico">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-TileImage" content="{{staticPath}}/img/mstile-144x144.png">
	<meta name="msapplication-config" content="{{staticPath}}/img/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
	<title>World Map | Sailing Channels</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{staticPath}}/css/vendor.css">
	<link href="https://api.mapbox.com/mapbox-gl-js/v0.28.0/mapbox-gl.css" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" rel="stylesheet">
	<style>
		html, body {
			height:100%;
			width:100%;
		}

		#map {
			width: 100%;
			height: 100%;
			position: absolute!important;
		}

		.container {
			z-index:9999999!important;
		}

		iframe {
			margin-top:15px;
		}

		.back-link {
			position: absolute;
			top: 20px;
			left: 20px;
			font-weight: bold;
		}

		.popup-frame {
			max-width: 300px;
			width:300px;
		}

		.popup-frame .fa-spinner {
			color:lightgrey;
		}

		.popup-frame .description {
			margin-top:10px;
		}

	</style>
</head>
<body>
	<div id="map"></div>

	<div class="container">
		<a href="/" class="back-link">&#8592; back to sailing-channels.com</a>
		<div class="logo">
			<a href="/">
			  <div class="turnaround">
				<div class="front"></div>
				<div class="back"></div>
			  </div>
			</a>
		</div>
	</div>

	<script src="{{staticPath}}/js/vendor.js"></script>
	<script src="https://api.mapbox.com/mapbox-gl-js/v0.28.0/mapbox-gl.js"></script>
	<script>
		mapboxgl.accessToken = "pk.eyJ1Ijoic2FpbGluZ2NoYW5uZWxzIiwiYSI6ImNpbHp5MngxczAwaHp2OW00Y2szOG1oM2wifQ.4w_KaRlbtjBf9_TNQL6SXw";
		var map = new mapboxgl.Map({
			"container": "map",
			"style": "mapbox://styles/sailingchannels/ciw3hqlb700ie2ko2e5fk8oq5",
			"zoom": 1,
			"center": [10.327148, 50.722547],
			"hash": true
		});

		map.transform.lngRange = [-180, 180];

		map.on("load", function () {

		    // Add a GeoJSON source containing the state polygons.
		    map.addSource("videos-src", {
		        "type": "geojson",
		        "data": "/api/positions/geolocations"
		    });

		    // Add a layer showing the state polygons.
			map.addLayer({
		        "id": "videos",
		        "type": "symbol",
		        "source": "videos-src",
		        "layout": {
					"icon-image": "marker-15"
		        }
		    });

			// Use the same approach as above to indicate that the symbols are clickable
			// by changing the cursor style to 'pointer'.
			map.on("mousemove", function (e) {
				var features = map.queryRenderedFeatures(e.point, { layers: ["videos"] });
				map.getCanvas().style.cursor = (features.length) ? "pointer" : "";
			});
		});

		// When a click event occurs near a polygon, open a popup at the location of
		// the feature, with description HTML from its properties.
		map.on("click", function (e) {
		    var features = map.queryRenderedFeatures(e.point, { layers: ["videos"] });
		    if (!features.length) {
		        return;
		    }

		    var feature = features[0];
			var popHtml = '<div id="popup-space" class="popup-frame"><center><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></center></div>';

		    var popup = new mapboxgl.Popup()
		        .setLngLat(map.unproject(e.point))
		        .setHTML(popHtml)
		        .addTo(map);

			console.log(e.lngLat);

			// query for videos on this location
			$.get("/api/videos/geo/" + e.lngLat.lng + "/" + e.lngLat.lat, function(data) {
				var inner = "";

				// loop the results and build a slick carousel out them
				for(var i in data) {

					if(data[i]) {
						inner += "<div>";
						inner += "<iframe width='300' height='150' src='https://www.youtube.com/embed/" + data[i].i + "?showinfo=0&rel=0' frameborder='0' allowfullscreen></iframe>";
						inner += "<b>" + data[i].t + "</b><br />";
						inner += "by <a href='/channel/" + data[i].ci + "' target='_blank'>" + data[i].c + "</a>";
						inner += "<p class='description'>" + data[i].d + "</p>";
						inner += "</div>";
					}
 				}

				$("#popup-space").html(inner);
				$("#popup-space").slick({
					"dots": true,
					"arrows": false
				});
			});
		});

	  	(function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){
	  	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,"script","//www.google-analytics.com/analytics.js","ga");

	  	ga("create", "UA-15981085-17", "auto");
	  	ga("send", "pageview");
	  	ga("send", "event", "World", "View", location.href, {
	 		nonInteraction: true
	  	});
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
</body>
</html>
