body {
	background-color: white;
}

h1, h2, h3 {
	margin:0 0 10px 0;
	padding:0px;
}

h1 {
	margin-bottom:30px;
	margin-top:30px;
}

.channel-row {
	border-bottom:1px solid #eee;
	margin-bottom: 20px;
	padding-bottom:20px;
}

.search-row {
	margin-top:20px;
	margin-bottom:50px;
}

.channel-description {
	text-align:justify;
}

.logo {
	width:150px;
	height:150px;
	margin:20px auto;
	display:block;
	perspective: 1500; /* Hier wird die Perspektive der gesamten Szene festgelegt. Der Wert hat Auswirkung auf die Verzerrung */
}

.logo:hover .turnaround {
   transform: rotateY(180deg); /* Beim Mouse-Over wird die Szene umgedreht */
}

.logo .front {
  background: url("https://cdn.rawgit.com/thomasbrueggemann/sailing-channels/master/public/img/logo.svg") 0 0 no-repeat;
	background-size: contain;
}

.logo .back {
  background: url("https://cdn.rawgit.com/thomasbrueggemann/sailing-channels/master/public/img/logo2.svg") 0 0 no-repeat;
	background-size: contain;
}

.turnaround {
   transition: .5s /* Die Drehung soll 0,5 Sekunden dauern */;
   transform-style: preserve-3d; /* Kind-Elemente  (.front + .back) sollen ihre 3D-Eigenschaften behalten*/
   position: relative;
   height: 100%;
}

.front,
.back {
   backface-visibility: hidden /* Die Rückseite von Elementen soll unsichtbar sein */;
   position: absolute;
   width: 100%;
   height: 100%;
}

.front { z-index: 2; }

.back {
   transform: rotateY(180deg) /* Die Rückseite des Logos wird umgedreht, um dann bei der Drehung der gesamten Szene vorne zu sein :) */;
   z-index: 1;
}

.channel-thumb {
	width:100%;
	max-width: 120px;
}

.loadMore {
	margin-bottom:25px;
}

.sort-option {
	margin-left:10px!important;
}

.sort-group {
	margin-top:10px!important;
	font-size:0.9em;
}

.offset-menu {
	position:absolute;
	background-color:white;
	top:50px;
	right:50px;
	text-align: right;
}

@media (min-width: 1350px) {
	.offset-menu {
		position:fixed;
	}
}

.offset-bars {
	position:absolute;
  right: 20px;
  top: 20px;
}

.offset-bars i {
	font-size:2em;
	color:grey;
}

.offset-menu ul {
	list-style-type: none;
}

.offset-menu li {
	line-height: 30px;
	color:#ccc;
	text-transform: uppercase;
}

.offset-menu a {
	color:#ccc;
	text-transform: uppercase;
}

.offset-menu a:hover {
	font-size:1.1em;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
}

.offset-menu .form-group {
	margin-top:0px;
}

.offset-menu .little-space {
	margin-top:25px;
}

.content-row {
	text-align: justify;
}

.reverse {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: left;
}

.content-h1 {
	margin-bottom:25px;
	text-align: center!important;
}

.banner-channel {
	margin-top:20px;
	margin-bottom:20px;
}

.banner-channel iframe {
	height:50px!important;
}

.footer {
	margin:20px 0;
	color:#ccc!important;
	font-size: 0.9em!important;
}

.footer a {
	color:#ccc!important;
}

.intro-video {
	max-width: 560px;
}

.language-picker {
	max-width:110px;
	float:right !important;
}
