.reverse {
	unicode-bidi: bidi-override;
	direction: rtl;
	text-align: left;
}

.footer {
	margin: 20px 0;
	color: #ccc !important;
	font-size: 0.9em !important;
}

.footer a {
	color: #ccc !important;
}

.inline-video {
	margin: 20px 0;
}

.video-detail-title {
	max-width: 600px;
}

.position-map {
	width: 100%;
	height: 350px;
}

.websites-list {
}

.websites-list li:first-child {
	margin-bottom: 10px;
}

.websites-list li {
	margin-bottom: 5px;
}

.thanks-img {
	width: 140px !important;
	margin-bottom: 10px;
}

.embed-code-form-control {
	background-color: #efefef;
}

.cover-up {
	width: 300px;
	height: 300px;
	left: 50%;
	margin-left: -150px;
	background-color: white;
	padding: 20px;
	z-index: 99999999;
	text-align: center;
	-webkit-box-shadow: 0px 0px 5px 2000px rgba(0, 0, 0, 0.45);
	-moz-box-shadow: 0px 0px 5px 2000px rgba(0, 0, 0, 0.45);
	box-shadow: 0px 0px 5px 2000px rgba(0, 0, 0, 0.45);
}

.cover-up > ul {
	margin: 0px;
	padding: 0px;
}

@media (max-width: 1349px) {
	.language-picker {
		float: none !important;
		margin: auto;
	}
}
