@import url("sweetalert2.css");

body {
	background-color: white;
}

h1, h2, h3 {
	margin:0 0 10px 0;
	padding:0px;
}

.channel-row {
	border-bottom:1px solid #eee;
	margin-bottom: 20px;
	padding-bottom:20px;
}
