.topics-row {
	padding: 0 15px;
}

@media (min-width: 990px) {
	.topics-row {
		margin-bottom: 50px;
	}
}

.topics-row h2 {
	text-align: left;
}

.photo-credits {
	float: right;
	display: block;
	color: #c0c0c0;
}

a > .panel {
	color: black !important;
}

.topics-link:hover {
	text-decoration: none;
}
