body {
	background-color: white;
	overflow-x: hidden !important;
}

h1,
h2,
h3 {
	margin: 0 0 10px 0;
	padding: 0px;
}

h1 {
	margin-bottom: 30px;
	margin-top: 30px;
}

.channel-row {
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;
	padding-bottom: 20px;
	height: 230px;
}

.search-row {
	margin-top: 20px;
	margin-bottom: 50px;
}

.channel-description {
	text-align: justify;
}

.channel-thumb {
	width: 100%;
	max-width: 120px;
}

.content-row {
	text-align: justify;
}

.content-h1 {
	margin-bottom: 25px;
	text-align: center !important;
}

.content-h1 img {
	border-radius: 50%;
}

.btn-sidebar {
	width: 180px !important;
}

.scroll-up-btn {
	position: fixed;
	bottom: 20px;
	left: 25px;
	color: #ddd;
	cursor: pointer;
	z-index: 999999999999 !important;
}

@media (min-width: 768px) {
	.scroll-up-btn {
		bottom: 50px;
		left: 50px;
	}
}

.yt-login {
	margin-bottom: -15px;
}

.form-group {
	margin: 0px !important;
}

.form-group label.control-label {
	margin: 8px 0 0 !important;
}

input[type="color"] {
	cursor: pointer;
}

.btn-more-info {
	margin-top: 15px;
	color: #bbb !important;
	text-transform: capitalize;
}

.support-row {
	margin: 50px 0;
}

.reverse {
	unicode-bidi: bidi-override;
	direction: rtl;
	text-align: left;
}
