.offset-social {
	position: absolute;
	text-align: left;
	top: 20px;
	left: 20px;
}

@media (min-width: 768px) {
	.offset-social {
		top: 50px;
		left: 50px;
	}
}

.social {
	color: #ddd;
	text-decoration: none;
	margin-right: 10px;

	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	-ms-transition: all 0.1s ease;
}

.social-fb:hover,
.social-fb:active {
	color: #3b5998;
	text-decoration: none;
}

.social-tw:hover,
.social-tw:active {
	color: #55acee;
	text-decoration: none;
}

.scroll-up-btn:hover,
.social-em:hover,
.social-em:active {
	color: #f2bb64;
	text-decoration: none;
}

.sc-text {
	color: #ccc;
}

.profile-link {
	margin-bottom: 40px;
}

.grey {
	-webkit-filter: grayscale(1);
	-webkit-filter: grayscale(100%);
	filter: gray;
	filter: grayscale(100%);
	opacity: 0.4;
}
