.offset-menu {
	position: absolute;
	top: 50px;
	right: 50px;
	text-align: right;
}

@media (min-width: 1350px) {
	.offset-menu {
		position: fixed;
	}
}

.offset-menu ul {
	list-style-type: none;
}

.offset-menu li {
	line-height: 30px;
	color: #ccc;
	text-transform: uppercase;
}

.offset-menu a {
	color: #ccc;
	text-transform: uppercase;
}

.offset-menu a:hover {
	font-size: 1.1em;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	-ms-transition: all 0.1s ease;
}

.offset-menu .form-group {
	margin-top: 0px;
}

.offset-menu .little-space {
	margin-top: 25px;
}

.offset-bars {
	position: absolute;
	right: 20px;
	top: 20px;
}

.offset-search {
	position: absolute;
	right: 60px;
	top: 20px;
}

.offset-bars i,
.offset-search i {
	font-size: 1.5em;
	color: white;
}

.cover-up {
	width: 300px;
	height: 300px;
	left: 50%;
	margin-left: -150px;
	background-color: white;
	padding: 20px;
	z-index: 99999999;
	text-align: center;
	-webkit-box-shadow: 0px 0px 5px 2000px rgba(0, 0, 0, 0.45);
	-moz-box-shadow: 0px 0px 5px 2000px rgba(0, 0, 0, 0.45);
	box-shadow: 0px 0px 5px 2000px rgba(0, 0, 0, 0.45);
}

.cover-up > ul {
	margin: 0px;
	padding: 0px;
}
