.feature-backdrop {
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
	border: 1px solid #ddd;
}
